<!DOCTYPE html>
<html>

<head>
  <title>baixagram</title>
  <link rel="stylesheet" href="style.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/pure/0.5.0/pure-min.css" />
</head>

<body>
  <header>
    <h1 class="center">baixagram</h1>
  </header>
  <div role="main">
    <form class="pure-form">
      <div class="pure-u-1">
        <input id="urls" class="pure-input-2-3 pure-input-rounded" type="text" placeholder="ex.: http://instagram.com/p/ruCQ7wgsL1" />
      </div>
    </form>
  </div>
  <footer class="center">
    @mstred
  </footer>
  <script type="text/javascript" src="zepto.min.js"></script>
  <script type="text/javascript" src="script.js"></script>
</body>

</html>
