<!DOCTYPE html>
<html>
    <head>
        <title>baixagram</title>
        <link rel="stylesheet" href="style.css" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/pure/0.5.0/pure-min.css" />
    </head>
    <body>
        <header>  
            <h1>baixagram</h1>
        </header>
        <div role="main">
            <div class="pure-u-1">
                <input class="pure-input-1" type="text" id="urls" placeholder="ex.: http://instagram.com/p/ruCQ7wgsL1" />
            </div>
        </div>
        <footer>
            @mstred
        </footer>
    </body>
</html>
