@import url(http://fonts.googleapis.com/css?family=Arimo);

body {
  background: #abcdef;
  font-family: 'Arimo', sans-serif;
}

.full {
  width: 100%;
}

.left {
  float: left;
}

.right {
  float: right;
}

.center {
  margin: 0px auto;
}

.text-centered {
  text-align: center;
}

.block {
  display: block;
}

.light-bg {
  background-color: rgba(255, 255, 255, 0.9);
}

body > footer {
  position: fixed;
  bottom: 0px;
  border: 0.5px 0 0 0 solid #456789;
}

body > footer > div {
  width: 66%;
  height: 3rem;
  line-height: 3rem;
}

body > footer > span > a {
  text-decoration: none;
}

body > section {
  margin-bottom: 4rem;
}

img.polaroid {
  margin: -2rem auto -3rem;
  width: 16rem;
}

img.instant {
  max-width: 100%;
  margin: 0.25rem auto;
}

section .well:empty {
  display: none;
}

section .well {
  letter-spacing: normal;
  margin: 2rem auto 0;
  border: 0.125px solid #456789;
  border-radius: .5rem;
  padding: 2rem;
  width: 60%;
  min-height: 1rem;
  box-shadow: 0 0 .45rem inset;
  background-color: rgba(250, 250, 250, .95);
}

.pure-form input.center {
  display: inherit !important;
}
